body {
    overflow-x: hidden;
  }

html{
    background-image: url(./images/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.heading{
    text-align: center;
    color: rgb(255, 255, 255);
}

table{
    width: 100%;
    align-content: center;
    padding: 20px;
    margin-left: 125px;
}

td{
    width: 25%;
    padding: 10px;
    align-content: center;
}

div{
    background-color: hsla(73, 72%, 59%, 0.452);
    width: 55%;
    height: 80%;
    text-align: center;
    padding: 10px;
    position: relative;
    border-radius: 20px;
    box-shadow: 5px 10px 20px hsla(300, 2%, 46%, 0.719);
}

a{
    text-decoration: none;
}

a:hover{
    opacity: .3;
}

img{
    margin-top: 15px;
    border-radius: 15px;
}

.paragraph{
    text-align: justify;
    color: rgb(4, 14, 61);
}