@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light-grayish-blue);
}

main {
    display: flex;
    justify-content: center;
    margin-top: 25vh;
}

section {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    font-family: 'Manrope';
    max-width: 50rem;
}

.image img {
    border-radius: 10px 0px 0px 10px;
    height: 100%;
    width: 20rem;
}

.content {
    padding: 2rem;
}

.content h1 {
    color: var(--desaturated-dark-blue);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.content p{
    color:var(--grayish-blue);
    font-size: 15px;
}

.profile-share {
    display: flex;
    margin-top: 20px;
}

.profile {
    display: flex;
    gap: 1rem;
    height: 4rem;
    margin-top: 5px;
    width: 4rem;
}

.details {
    margin-top: 10px;
}

.details h2 {
    color: var(--desaturated-dark-blue);
    font-size: 1rem;
    width: 12rem;
}

.share {
    background-color: var(--light-grayish-blue);
    border-radius: 2rem;
    cursor: pointer;
    height: 20px;
    left: 18rem;
    padding: 15px;
    position: relative;
    top: 1rem;
    width: 20px;
}

.michelle {
    border-radius: 2rem;
}

.active {
    visibility: hidden;
    width: 0;
}

.rectangle {
    background-color: var(--very-dark-grayish-blue);
    border-radius: 1rem;
    bottom: 5rem;
    color: aliceblue;
    display: flex;
    height: 2rem;
    left: 15rem;
    justify-content: space-between;
    padding: 0.7rem 3rem;
    position: relative;
    width: 13rem;
}

.triangle {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid var(--very-dark-grayish-blue);
    bottom: 5.3rem;
	height: 0;
    left: 19rem;
    position: relative;
    width: 0;
}

.rectangle img{
    height: 2rem;
    width: 2rem;
}

.rectangle span{
    font-size: 1.5rem;
    font-weight: lighter;
}

.clicked{
    background-color:var(--very-dark-grayish-blue);
}