body {
    overflow-x: hidden;
    height: 100vh;
  }

html{
    background-image: linear-gradient(to bottom right, rgba(224, 78, 20, 0.76), rgba(224, 224, 44, 0.705));;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading{
    text-align: center;
    color: beige;
}

table{
    width: 100%;
    align-content: center;
    padding: 20px;
    margin-left: 430px;
}

td{
    width: 25%;
    padding: 10px;
    align-content: center;
}

div{
    background-color: hsla(34, 44%, 59%, 0.123);
    width: 30%;
    height: 80%;
    text-align: center;
    padding: 10px;
    position: relative;
    border-radius: 20px;
    box-shadow: 5px 10px 20px hsla(42, 50%, 13%, 0.233);
}

a{
    text-decoration: none;
}

a:hover{
    opacity: .3;
}

img{
    margin-top: 15px;
    border-radius: 15px;
}

.paragraph{
    text-align: justify;
    color: rgb(4, 14, 61);
}